* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  
  --bg-color: gray;
  --time-color: gray;
  --btn-time-color: gray;
  --bg-sons-color: gray;
  --btn-sons-color: gray;
  --btn-theme-color: gray;
}

.light-theme {
  --bg-color: #ffffff;
  --time-color: #43434b;
  --btn-time-color: #43434b;
  --bg-sons-color: #E1E1E6;
  --btn-sons-color: #43434b;
  --btn-theme-color: #43434b;
}

.dark-theme {
  --bg-color: #29292E;
  --time-color: #C4C4CC;
  --btn-time-color: #C4C4CC;
  --bg-sons-color: #43434b;
  --btn-sons-color: #e8e8f3;
  --btn-theme-color: #dcdce4;
}

.hide {
  display: none;
}

body {
  position: relative;
  background-color: var(--bg-color);
}

main {
  width: 82rem;
  margin: 20rem auto;

  display: flex;
  align-items: center;
  gap: clamp(1rem, 10rem + 5vw, 19rem);
}

button {
  background-color: transparent;
  border: none;
  transition: 0.6s;
  cursor: pointer;
}

.menu {
  max-width: 32.1rem;
  max-height: 21.3rem;
}

.timer {
  font-family: 'Roboto', sans-serif;
  font-size: 12.6rem;
  font-weight: 500;
  line-height: 14.8rem;
  color: var(--time-color);

  display: flex;
  text-align: center;

  margin-bottom: 1.7rem;
}

.buttons-control {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: clamp(1rem, 1rem + 2vw, 4rem);
}

.buttons-control svg path {
  fill: var(--btn-time-color);
}

button:hover {
  transform: scale(1.1);
  transition: 0.6s;
}

/*Botões de sons ambiente*/
.sons {
  display: grid;
  grid-template-columns: repeat(2, 15rem);
  grid-template-rows: 15rem;
  column-gap: 2rem;
  row-gap: 3rem;
}

.base-btn-sons {
  height: 15.2rem;
  width: 13.8rem;
  background-color: var(--bg-sons-color);
  border-radius: 24px;
  display: block;
  align-items: center;
  justify-content: center;
  transition: 0.6s;
}

.btn-icon-sons {
  padding: 25px;
  width: 110px;
  height: 100px;
}

.btn-icon-sons path {
  fill: var(--btn-sons-color);
}

.base-btn-sons:hover {
  cursor: pointer;
  --btn-sons-color: white;
}

.btn-forest:hover {
  background-image: linear-gradient(62deg, #10a352 0%, #4fec99 100%);
}

.btn-rain:hover{
  background-image: linear-gradient(62deg, #8BC6EC 0%, #3c67df 100%);
}

.btn-coffee-shop:hover{
  background-image: linear-gradient(62deg, #9d67cc 0%, #fa7fc5 100%);
}

.btn-fireplace:hover{
  background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
}

.volume {
  -webkit-appearance: none;
  height: 5px;
  width: 80%;
  background: var(--btn-sons-color);
  border-radius: 5px;
  outline: none;
  border: none;
}

.volume::-webkit-slider-thumb{
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background: var(--btn-sons-color);
  border-radius: 50%;
  outline: none;
  border: none;
  cursor: pointer;
}

/* Botão de tema*/
.button-theme {
  margin: 6.0rem;
  position: fixed;
  top: 0;
  right: 0;
}

.button-theme svg path {
  fill: var(--btn-theme-color);
}